
@import url("root.css");
body {
    font-family: Arial, sans-serif;
}
.black {
  font-weight: bold;
}

.cv-info {
  color: var(--color-fondo)
}
#datos_cv img {
  border-radius: 10px; 
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; 
  background-color: var(--color-fondo);
}
.footer img {
  height: 40px; 
  width: auto; 
}
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 36px;
    white-space: normal; 
  }
}